# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Generated plots from main.py
*_dist_*.png
priority_dist_*.png
total_vac_*.png
distance_dist_*.png

# Mac system files
.DS_Store

# Testing
.pytest_cache/
.coverage